/*----------------------------------------------
Author : www.webthemez.com
License: Commons Attribution 3.0
http://creativecommons.org/licenses/by/3.0/
------------------------------------------------*/

/*----------------------------------------------
    COMMON  STYLES    
------------------------------------------------*/
body {
    font-family: 'Open Sans', sans-serif;
    background: #f3f3f3;
    /* used to make navbar not overlay the content */
    margin-top: 50px;
}

#wrapper {

}

.text-center {
    text-align: center;
}

.no-border {
    border: 0;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 7px;
    margin-bottom: -5px;
}

h2 {
    color: #000;
}

h4 {
    padding-bottom: 10px;
}

.square-btn-adjust {
    border: 0px solid transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

}

p {
    font-size: 16px;
    line-height: 25px;
    padding-top: 20px;
}

.navbar-side .nav > li > a > i {
    color: #0088cc;
    padding: 8px;
    width: 30px;
    text-align: center;
}

.top-navbar {
    position: fixed;
    width: 100%;
    z-index: 300;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}

.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {
    text-decoration: none;
    background-color: #2497BA;
    color: #fff;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #2497BA;
    border-color: #428bca;
}

.breadcrumb {
    padding: 0;
    margin-bottom: 20px;
    list-style: none;
    /* background-color: #FAFAFA; */
    border-radius: 0;
}

/*----------------------------------------------
   DASHBOARD STYLES    
------------------------------------------------*/
.page-header {
    padding-bottom: 9px;
    margin: 10px 0 0;
    border-bottom: 1px solid transparent;
}

.dashboard-statistics-panel {
    display: flex;
    align-items: center;
    text-align: center;
    height: 158px;
}

.dashboard-statistics-icon {
    flex: 3;
}

.dashboard-statistics-icon .fa-5x {
    color: rgba(255, 255, 255, 0.15);
}

.dashboard-statistics-text {
    flex: 6;
}

.dashboard-statistics-text h3 {
    font-size: 50px;
    padding: 31px 10px 13px;
    color: rgba(255, 255, 255, 0.96);
}

.panel-back {
    background-color: #fff;
}

.panel-default {
    border-color: #ECECEC;
}

.panel-default > .panel-heading {
    color: #000;
    border-color: #FFF;
    font-weight: bold;
    background: #FFFFFF;
    font-size: 16px;
}

.panel-heading {
    padding: 15px 15px 0px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.jumbotron, .well {
    background: #fff;
}

.noti-box {
    min-height: 100px;
    padding: 20px;
}

.noti-box .icon-box {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
}

.text-box p {
    margin: 0 0 3px;
}

.main-text {
    font-size: 25px;
    font-weight: 600;
}

.set-icon {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

}

.panel-primary {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
}

.green {
    background-color: #5cb85c;
    color: #fff;
}

.blue {
    background-color: #4CB1CF;
    color: #fff
}

.red {
    background-color: #F0433D;
    color: #fff;
}

.brown {
    background-color: #f0ad4e;
    color: #fff;
}

.back-footer-red {
    background-color: #F0433D;
    color: #fff;
    border-top: 0px solid #fff;
}

.icon-box-right {
    display: block;
    float: right;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
}

.main-temp-back {
    background: #8702A8;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.main-temp-back .text-temp {
    font-size: 40px;
}

.back-dash {
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #2EA7EB;
    color: #fff;
}

.back-dash p {
    padding-top: 16px;
    font-size: 13px;
    color: #fff;
    line-height: 25px;
    text-align: justify;
}

.color-bottom-txt {
    color: #000;
    font-size: 16px;
    line-height: 30px;
}

/*CHAT PANEL*/
/*Charts*/

.main-chart {
    background: #fff;
}

.easypiechart-panel {
    text-align: center;
    padding: 1px 0;
    margin-bottom: 20px;
}

.placeholder h2 {
    margin-bottom: 0px;
}

.donut {
    width: 100%;
}

.easypiechart {
    position: relative;
    text-align: center;
    width: 120px;
    height: 120px;
    margin: 20px auto 10px auto;
}

.easypiechart .percent {
    display: block;
    position: absolute;
    font-size: 26px;
    top: 38px;
    width: 120px;
}

#easypiechart-blue .percent {
    color: #30a5ff;
}

#easypiechart-teal .percent {
    color: #1ebfae;
}

#easypiechart-orange .percent {
    color: #ffb53e;
}

#easypiechart-red .percent {
    color: #ef4040;
}

.chat-panel .panel-body {
    height: 450px;
    overflow-y: scroll;
}

.chat-box {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat-box li {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #808080;
}

.chat-box li.left .chat-body {
    margin-left: 90px;
}

.chat-box li .chat-body p {
    margin: 0;
    color: #8d8888;
}

.chat-img > img {
    margin-left: 20px;
}

footer p {
    font-size: 14px;
}

/*----------------------------------------------
    MENU STYLES    
------------------------------------------------*/

.user-image {
    margin: 25px auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    max-height: 170px;
    max-width: 170px;
}

.top-navbar {
    margin: 0px;
}

.top-navbar .navbar-brand {
    text-align: left;
    height: 60px;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
}

.navbar-brand b {
    color: #2DAFCB;
}

.top-navbar .nav > li {
    position: relative;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.top-navbar .nav > li > a {
    position: relative;
    display: block;
    padding: 20px;
    color: #FFFFFF;
    margin: 0px;
}

.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {
    text-decoration: none;
    color: #319DB5 !important;
    background: transparent;
}

.top-navbar .dropdown-menu {
    min-width: 230px;
    border-radius: 0 0 4px 4px;
}

.top-navbar .dropdown-menu > li > a:hover, .top-navbar .dropdown-menu > li > a:focus {
    color: #225081;
    background: none;
}

.dropdown-tasks {
    width: 255px;
}

.dropdown-tasks .progress {
    height: 8px;
    margin-bottom: 8px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 0px;
}

.dropdown-tasks > li > a {
    padding: 0px 15px;
}

.dropdown-tasks p {
    font-size: 13px;
    line-height: 21px;
    padding-top: 4px;
}

.active-menu {
    background-color: #2DAFCB !important;
    color: #fff !important;
}

.active-menu i {
    color: #fff !important;
}

.arrow {
    float: right;
    margin-top: 8px;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}

.sidebar-collapse .nav {
    padding: 0;
}

.sidebar-collapse .nav > li > a {
    color: #000000;
    background: transparent;
    text-shadow: none;

}

.sidebar-collapse > .nav > li > a {
    padding: 12px 10px;
}

.sidebar-collapse > .nav > li > a:hover {
    background-color: #d9edf7;
}

.sidebar-collapse > .nav > li {
    border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}

ul.nav.nav-second-level.collapse.in {
    background: #17191B;
}

.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {

    outline: 0;
}

.dropdown-user li {
    margin: 8px 0;
}

/*----------------------------------------------
    UI ELEMENTS STYLES     
------------------------------------------------*/
.btn-circle {
    width: 50px;
    height: 50px;
    padding: 6px 0;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.margin-0 {
    margin: 0;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-bottom-3 {
    margin-bottom: 3px;
}

.margin-5 {
    margin: 5px;
}

.margin-top-0 {
    margin-top: 0;
}

.margin-top-3 {
    margin-top: 3px;
}

.padding-0 {
    padding: 0;
}

.padding-5 {
    padding: 5px;
}

.padding-right-0 {
    padding-right: 0;
}

.padding-left-0 {
    padding-left: 0;
}

.padding-top-0 {
    padding-top: 0;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.diagram-note {
    background-color: rgba(66, 180, 21, 0.7);
    color: White;
    border-radius: 5px;
    font-family: Arial;
    font-size: 12px;
    padding: 5px;
    min-height: 16px;
    width: 50px;
    text-align: center;
}

tspan {
    stroke: black;
    stroke-width: 0;
}

.myClassAll {
    stroke: black;
}

.myClassAdd > .djs-visual > :nth-child(1) {
    stroke: lightgreen;
    stroke-width: 2px;
}

.myClassAdd > .djs-visual > .djs-label > :nth-child(n) {
    fill: lightgreen;
}

.myClassDelete > .djs-visual > :nth-child(1) {
    stroke: red;
    stroke-width: 2px;
}

.myClassDelete > .djs-visual > .djs-label > :nth-child(n) {
    fill: red;
}

.myClassMatch > .djs-visual > :nth-child(1) {
    stroke: blue;
    stroke-width: 2px;
}

.myClassMatch > .djs-visual > .djs-label > :nth-child(n) {
    fill: blue;
}

footer {
    padding-bottom: 15px;
    padding-top: 15px;
}

.canvas {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: #ffffff;
    width: 100%;
    height: 65%;
    padding: 15px;
}

.canvasParent {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: #ffffff;
    width: 100%;
    height: 65%;
    padding: 15px;
    overflow: auto;
    resize: vertical;
}

.canvasChild {
    border: 1px solid #ddd;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow: auto;
}

.modelCanvas {
    width: 100%;
    height: 60%;
    border: 1px solid #ddd;
    resize: both;
    overflow: auto;
}

.selected-model {
    background-color: #e1f7b0
}

.my-label {
    padding-bottom: 0;
    padding-top: 5px;
}

.my-model-name-border {
    border: 1px solid #ddd;
}

.my-white-badge-info {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: blue;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #ffffff;
    border-radius: 10px
}

.my-white-badge-success {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: green;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #ffffff;
    border-radius: 10px
}

.my-white-badge-container {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #e38d13;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #ffffff;
    border-radius: 10px
}

.my-white-badge-danger {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: red;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #ffffff;
    border-radius: 10px
}

.bjs-container {
    width: 99% !important;
}

.cursorPointer {
    cursor: pointer
}

.color-green {
    color: green;
}

.color-red {
    color: red;
}

/*----------------------------------------------
    MEDIA QUERIES
------------------------------------------------*/

@media (max-width: 480px) {
    .page-header small {
        display: block;
        padding-top: 14px;
        font-size: 19px;
    }
}

/* set navbar closing point */
@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}



